#faq img {
    margin-left: 20px; /* Adjust margin as needed */
    margin-right: 20px; /* Adjust margin as needed */
    margin-top: 10px; /* Adjust margin as needed */
    padding: 10px; /* Adjust padding as needed */
}

#frame img {
    margin-left: 20px; /* Adjust margin as needed */
    margin-right: 20px; /* Adjust margin as needed */
    margin-top: 10px; /* Adjust margin as needed */
    padding: 10px; /* Adjust padding as needed */
}

#footer img {
    margin-left: 20px; /* Adjust margin as needed */
    margin-right: 20px; /* Adjust margin as needed */
    margin-top: 30px; /* Adjust margin as needed */
    padding: 10px; /* Adjust padding as needed */
}
